.container {
  padding: 25px;
  padding-top: 0; 
}

.inner-container {
  height: calc(100% - 50px);
  overflow: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.newMediaForm,
.new-media img {
  margin-top: 15px; 
}

.new-media img {
  max-height: 600px;
}

@media (max-width: 600px) {
  .container {
    padding: 5px;
  }

  .newMediaForm {
    margin-top: 5px; 
  }
}