.events-title {
  position: relative;
}

.events-new-event {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 1350px) {
  .events-cards-grid >div {
    width: 33.33333% !important;
  }
  .events-card-block-title {
    font-size: 15px !important;
  }
}

@media (max-width: 1100px) {
  .events-cards-grid >div {
    width: 50% !important;
  }
  .events-card-block-title {
    font-size: 15px !important;
  }
}

@media (max-width: 900px) {
  .events-cards-grid >div {
    width: 80% !important;
  }
  .events-card-block-title {
    font-size: 17px !important;
  }
}

@media (max-width: 500px) {
  .events-cards-grid >div {
    width: 100% !important;
  }
  .events-card-block-title {
    font-size: 20px !important;
  }
}

.events-card-block {
  display: flex !important;
  padding: 0;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .20);
}

.events-card-block__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 300px;
}

.events-card-block-img {
  width: 100%;
  height: 75%;
}

.events-card-block-img-wrapper {
  position: relative;
  height: 100%;
}

.events-card-block-title {
  position: absolute;
  z-index: 2;
  color: white;
  margin-right: 10px;
  white-space: pre-wrap;
  bottom: 20px;
  overflow: auto;
  font-size: 13px;
  left: 20px;
  text-transform: uppercase;
}

.events-card-block-img-wrapper-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.events-card-block-img-wrapper-inner__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.events-card-block__content__buttons {
  height: 25%;
  padding-top: 10%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events-card-block__content__buttons__main {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 30px;
}

.events-card-block__content__buttons__reset {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: baseline;
  height: 25%;
  margin-right: 30px;
}

.events-card-block__content__buttons__reset a {
  color: rgb(158, 158, 158);
  text-decoration: underline;
  font-weight: 500;
}

.events-tabs__custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events-start-btn, .events-stop-btn {
  width: 150px;
  border-radius: 10px !important;
}

.events-start-btn div, .events-stop-btn div, .events-start-btn span, .events-stop-btn span {
  border-radius: 10px !important;
}

.events-start-btn button {
  background-color: rgb(30, 136, 229) !important;
  border-radius: 10px !important;
}

.events-stop-btn button {
  background-color: rgb(56, 62, 82) !important;
  border-radius: 10px !important;
}

.events-card-block__content__buttons__sub  {
  position: relative;
  display: flex;
  top: 30px;
  right: 15px;
  justify-content: flex-end;
}

.events-copy-btn, .events-edit-btn, .events-delete-btn {
  border-radius: 5px !important;
  opacity: 0.8;
}

.events-copy-btn button, .events-edit-btn button, .events-delete-btn button {
  background-color: rgb(56, 62, 82) !important;
  border-radius: 5px !important;
  border-color: rgb(56, 62, 82) !important;
}
